body{
  margin: 0;
  padding: 0;
}

.landing-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #454545;
  color: #F3F0e8;
}

.start-content{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  align-items: center;
  
}

.content{
  display: flex;
  flex-direction: flex;
  height: 80vh;
}

.start-headers{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-left: 5vw;
  margin-bottom: 10vh;
}

.highlight{
  background: #8DBEF8;
  -webkit-background-clip: text; 
  color: transparent; 
}

.start-header{
  width: 30vw;
  font-size: 60px;
}

.start-p{
  font-size: 25px;
}

.start-svg{
  margin-left: 20vw;
}

.startpage-svg{
  width: 30vw;
  margin-top: 10vh;
}

.land-login-btn{
  width: 10vw;
  justify-content: center;
}